<h1>コミック一覧</h1>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>出版日</th>
      <th>値段</th>
      <th>著者</th>
      <th>処理</th>
    </tr>
  </thead>
  <tbody>
    <% @comics.each do |comic| %>
    <tr>
      <td><%= comic.name %></td>
      <td><%= comic.published_on %></td>
      <td><%= number_to_currency(comic.price) %></td>
      <td><%= comic.authors.pluck("name").join(", ") %></td>
      <td><%= link_to '編集', edit_comic_path(comic) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "新規登録", new_comic_path, class: "button" %>
