<% @comics.each do |comic| %>
  <div>
    <%= comic.name %>
    <%= comic.published_on %>
    <%= comic.price %>
    <% comic.authors.each do |author| %>
      <%= author.name %>
    <% end %>
  </div>
<% end %>

<%= link_to "新規登録", new_comic_path%>
