<h1>新規登録</h1>
  <ul>
    <li>
      <%= f.label :name, "漫画タイトル" %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :published_on, "出版日" %>
      <%= f.date_field :published_on %>
    </li>
    <li>
      <%= f.label :price, "値段" %>
      <%= f.number_field :price %>
    </li>
    <li>
      <%= f.label :publisher_id, "出版社" %>
      <%= f.collection_select :publisher_id, @publishers, :id, :name %>
    </li>
  </ul>
  <ul>
    <%= f.fields_for :comic_authors do |ff| %>
      <li>
        <%= ff.label :author_id, ff.object.author.name %>
        <%= ff.check_box :author_id, { checked: false },  ff.object.author_id, nil  %>
      </li>
    <% end %>
  </ul>
  <%= f.submit "登録" %>
<% end %>
