  <table>
    <thead>
      <tr>
        <th>出版社名</th>
        <th>所在地</th>
        <th>詳細</th>
        <th>編集</th>
      </tr>
    </thead >
    <tbody>
      <% @publishers.each do |publisher| %>
        <tr>
          <td><%= publisher.name %></td>
          <td><%= publisher.address %></td>
          <td><%= link_to '詳細', publisher_path(publisher) %></td>
          <td><%= link_to '編集', edit_publisher_path(publisher) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "新規登録", new_publisher_path %>
