<h1>詳細画面</h1>

<table>
  <thead>
    <tr>
      <td>会社名</td>
      <td>所在地</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @publisher.name %>
      </td>
      <td>
        <%= @publisher.address %>
      </td>
    </tr>
  </tbody>
</table>

<div class="inline-links">
  <%= link_to "編集", edit_publisher_path(@publisher), class: "button" %>
  <%= link_to "削除", publisher_path(@publisher), data: { turbo_method: :delete }, class: "button_other" %>
  <%= link_to "戻る", publishers_path, class: "button_other" %>
</div>
