<!DOCTYPE html>
<html>
  <head>
    <title>ComicAppAdmin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <ul>
        <li><%= link_to '出版社', publishers_path %></li>
        <li><%= link_to '著者', authors_path %></li>
        <li><%= link_to '漫画', comics_path %></li>
      </ul>
      <% if flash.notice %>
        <%= flash.notice %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
